/* Checkbox Styles */
.toggle-checkbox {
	-webkit-appearance: none;
	outline: none;
	/* position: absolute; */
	position: relative;
	height: 5rem;
	width: 10rem;
	border: 2px solid #f5f5f7;
	border-radius: 2.5rem;
	cursor: pointer;
	border: 2px solid #f5f5f7;
	/* Toggle Indicator */
	/* Label */
	/* Checked Styles */
}

.toggle-checkbox::before {
	content: "";
	height: 3.125rem;
	width: 3.125rem;
	background-color: #f5f5f7;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0.9375rem;
	bottom: 0;
	border-radius: 50%;
	border: none;
	transition: 0.15s;
}

.toggle-checkbox::after {
	content: "Off";
	position: absolute;
	font-size: 1.625rem;
	top: 1.25rem;
	right: 1.5625rem;
	color: #f5f5f7;
	font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
	letter-spacing: 0.004em;
}


.toggle-checkbox:checked::before {
	left: 5.3125rem;
}

.toggle-checkbox:checked {
	background: #444;
}

.toggle-checkbox:checked::after {
	content: "On";
	left: 1.5625rem;
	color: #f5f5f7;
}